{%extends 'video_chatt_app/base.html'%}
{%block content%}
  <style>
    .background {
      background-color: #f6f6f6;
    }

    .shadow {
      -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
      box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      margin: 5px 20px 40px 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  </style>
        <div class="well form-horizontal border shadow p-5 background" 
          id="question_form" style="margin-top: 1rem;">
          <fieldset>

            <!-- Form Name -->
            <legend>
              <center>
                <div>
                  <h1 style="color:#56baed">Add Topic</h1>
                </div>
              </center>
            </legend><br>
            <div class="alert alert-danger" role="alert" id="upload-alert" style="display:none;">
            </div>
            <!-- Text input-->
            <!-- <center> -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-12 control-label">Subject :</label>
                  <div class="col-md-12 selectContainer">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                      <select name="subject" class="form-control selectpicker" id="select-subject">
                        <option value="" selected disabled>Select your Subject</option>
                        {%for subject in subject_list%}
                        <option>{{subject.subject_name}}</option>
                        {%endfor%}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-12 control-label">Topic :</label>
                    <div class="col-md-12 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id = "input-topic" name="question" placeholder="Topic" class="form-control" type="text">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <center>
              <div class="form-group">
                <div class="col-md-12">
                  <br>
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                    id="submit-button" class="btn btn-primary"
                    style="background-color: #56baed;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
                      class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                </div>
              </div>
            </center>
          </fieldset>
        </div>

<script>
$('#submit-button').click(function(){
  var selected_sub = $('#select-subject').val();
  var selected_topic = $('#input-question').val();
  if (selected_sub && selected_topic ){
     $.ajax({
        url: '/upload_topic/',
        data: {
            'selectedSub':selected_sub,
            'selectedTopic':selected_topic,
        },
        dataType: 'json',
        success: function (data) {
            $('#upload-alert').html(data.message);
            $('#upload-alert').removeClass("alert-danger");
            $('#upload-alert').addClass("alert-success");
            $('#upload-alert').css('text-align','center');
            $('#upload-alert').css('display','block');
            var selected_sub = $('#select-subject').val('');
            var selected_topic = $('#topicDropdown').val('');
        }
    });

  }
  else{
    $('#upload-alert').removeClass("alert-success");
    $('#upload-alert').addClass("alert-danger");
    $('#upload-alert').html('Please select and fill all the fields');
    $('#upload-alert').css('display','block');
    $('#upload-alert').css('text-align','center');
  }

})
</script>
{%endblock%}