{%extends 'video_chatt_app/base.html'%}
{%block content%}
<style>
  .background {
  background-color: #f6f6f6;
}

.shadow {
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-rounded {
  border-radius: 1rem;
  border: none;
  margin-top:1rem;
}

.mycustom {
  border-radius: 1rem;
  position: relative;
}

.mycustom input[type=text] {
  border-top-right-radius:1rem!important;
  border-bottom-right-radius:1rem!important;
  border: none;
  width: 100%;
  padding-right: 123px;
}

.mycustom .input-group-prepend {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 9;
}

.chatbox{
  height:38%;
  z-index: 100;
}
</style>

<div class="container" id="chatt-room">

  <div class="well form-horizontal border shadow p-5 background" action=" " method="post" id="question_form"
    style="margin-top: 1rem; height:550px">
    <legend>
      <center>
        <div>
          <h1 style="color:#56baed">Host a Meeting</h1>
        </div>
      </center>
    </legend><br>
    <div class="alert alert-danger" id = "create-meeting-alet" role="alert" style="display:none;">
    </div><br>
    <div>
    <select name="grade" id="GradeDropdown" class="form-control form-rounded">
      <option class="dropdown-item" value="" disabled selected>Choose Grade</option>
      {%for grade in user_grade%}
        <option value="{{grade.grade_id.student_grade}}">{{grade.grade_id.student_grade}}</option>
      {%endfor%}
    </select>
  </div>
    <div>
      <select name="subject" id="SubjectDropdown" class="form-control form-rounded" onchange="appendValue()">
        <option class="dropdown-item" value="" disabled selected>Choose Subject</option>
        {%for subject in subject_list%}
          <option value="{{subject.subject_id.subject_name}}">{{subject.subject_id.subject_name}}</option>
        {%endfor%}
      </select>
    </div>
  <div>
    <select name="topic" id="topicDropdown" class="form-control form-rounded">
      <option class="dropdown-item" value="" disabled selected>Choose Topic</option>
    </select>
  <div class="input-group mycustom">
    <!-- <input type="text" class="form-control form-rounded" placeholder="Enter Meeting ID"> -->
    <div class="input-group-prepend">
      <input type="submit" id="create-meeting" value="submit" class="btn btn-primary btn-sm" id="inputGroupPrepend2" style="border-radius: 1rem;margin-top: 1rem;height: 2rem;">
</div>
</div>
</div>
</div>
</div>



<div class="chatbox chatbox--tray chatbox--empty" id = "teacher-dashboard" style= "display:none">
  <div class="chatbox__title">
      <h6><a href="#">Dashboard</a></h6>
      <button class="chatbox__title__tray">
          <span></span>
      </button>
  </div>
  <div class="chatbox__body">
      <div class="chatbox__body__message chatbox__body__message--left">
      <!--   Session Time : -->
      <!--   <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width:80%">40.25</div>
        </div> -->
        Attendance : 
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width:100%" id = "attendance">0</div>
        </div><br>
        Attentive(%) : 
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width:0%" id = "attentive">0%</div>
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width:100%" id = "r-attentive">100%</div>
        </div><br>
        Effective(%) : 
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width:0%" id = "effective">0%</div>
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width:100%" id ="r-effective">100%</div>
        </div>
      <!--   <div>Questions :
          <span><a href="#">0/5</a></span>
        </div> -->
      </div>
  </div>
</div>


<script>
  var logedin_user = '{{ user.get_username }}';

  function appendValue(){
    var selected_value = $('#SubjectDropdown').val();
    $('#topicDropdown').html('');
    $('#topicDropdown').append("<option class='dropdown-item' value='' disabled selected>Choose Topic</option>");
    {%for topic_item in topic_list%}
      {%for topic in topic_item%}
        var subject_name = '{{topic.subject_id.subject_name}}'
        if (subject_name == selected_value){
          $('#topicDropdown').append($('<option>', {
              value: '{{topic.topic_name}}',
              text: '{{topic.topic_name}}'
          }));
        }
      {%endfor%}
    {%endfor%}
  }

  (function($) {
$(document).ready(function() {
    var $chatbox = $('.chatbox'),
        $chatboxTitle = $('.chatbox__title'),
        $chatboxTitleClose = $('.chatbox__title__close');
    $chatboxTitle.on('click', function() {
        $chatbox.toggleClass('chatbox--tray');
        $chatbox.toggleClass('chatbox--empty');
    });
    $chatboxTitleClose.on('click', function(e) {
        e.stopPropagation();
        $chatbox.addClass('chatbox--closed');
    });
    $chatbox.on('transitionend', function() {
        if ($chatbox.hasClass('chatbox--closed')) $chatbox.remove();
    });
});
})(jQuery);

</script>
{%endblock%}