{%extends 'video_chatt_app/base.html'%}
{%block content%}
<style>
    .card-title.font-weight-bold {
    font-size: larger;
    padding-top: 35px;
    margin-left: 57px;
    color: white;
}
    </style>
            <div class="container-fluid">
                <h1 class="mt-4"></h1>

                <div class="row">
                    <div class="col-md-2">
                        <select id="select-grade" class="btn btn-outline-primary dropdown-toggle  dropdown hard-code" searchable="Search here..">
                            <option class="dropdown-item" value="" disabled selected>Choose Grade</option>
                            {%for grade in user_grade%}
                            <option class="dropdown-item" value="{{grade.grade_id.student_grade}}">{{grade.grade_id.student_grade}}</option>
                            {%endfor%}
                        </select>

                    </div>
                    
                    <div class="col-md-2">
                        <select id="select-subject" class="btn btn-outline-primary dropdown-toggle  dropdown hard-code" searchable="Search here.." onchange="appendValue()">
                            <option class="dropdown-item" value="" disabled selected>Choose Subject</option>
                            {%for subject in subject_list%}
                            <option class="dropdown-item" value="{{subject.subject_id.subject_name}}">{{subject.subject_id.subject_name}}</option>
                            {%endfor%}
                        </select>

                    </div>
                    <div class="col-md-2">
                            <select id="select-topic" class="btn btn-outline-primary dropdown-toggle dropdown hard-code" searchable="Search here..">
                                <option value="" disabled selected>Choose Topic</option>
                            </select>

                    </div>
                    <div class="col-md-2">
                        <select id="select-student" class="btn btn-outline-primary dropdown-toggle  dropdown" searchable="Search here..">
                            <option value="" disabled selected>Select Student</option>
                            {%for student in student_list%}
                            <option class="dropdown-item" value="1">{{student.user_id}}</option>
                            {%endfor%}
                        </select>

                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" id = "generate-btn">Download</button>

                    </div>

                </div>


                <div class="row">
                    <div class="col">
                        <!-- Card -->
                        <div class="card booking-card topMargin">

                            <!-- Card image -->
                            <div class="view overlay">
                                    <div class="card-1">
                                        <div class="card-title font-weight-bold">Sessions attended by</div>
                                        <div class="card-value-display rounded-circle">
                                            <div class="card-value" id = "session-attended" style="    margin-left: 34%;">25</div>
                                        </div>

                                    </div>
                                    <div></div>
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">
                                <p>The total number of students attending the sessions scheduled by you</p>
                            </div>

                        </div>
                        <!-- Card -->
                    </div>
                   <div class="col">
                        <!-- Card -->
                        <div class="card booking-card topMargin">

                            <!-- Card image -->
                            <div class="view overlay">
                                    <div class="card-2">
                                        <div class="card-title font-weight-bold" >Student Attentiveness (%)</div>
                                        <div class="card-value-display rounded-circle">
                                            <div class="card-value" id = "session-attentiveness" >82.5%</div>
                                        </div>

                                    </div>
                                    <div></div>
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">
                                <p>The average attentiveness percentage of the students based on the selected filters</p>
                            </div>

                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col">
                        <!-- Card -->
                        <div class="card booking-card topMargin">

                            <!-- Card image -->
                            <div class="view overlay">
                                    <div class="card-3">
                                        <div class="card-title font-weight-bold">Accurate Response (%)</div>
                                        <div class="card-value-display rounded-circle">
                                            <div class="align-middle card-value " id = "session-Response" >82.5%</div>
                                        </div>

                                    </div>
                                    <div></div>
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">
                                <p>The average accurate response percentage of the students based on the selected filters</p>
                            </div>

                        </div>
                        <!-- Card -->
                    </div>

                </div>
            </div>
<script>
function appendValue(){
    var selected_value = $('#select-subject').val();
    $('#select-topic').html('<option value="" disabled selected>Choose Topic</option>');
    {%for topic_item in topic_list%}
      {%for topic in topic_item%}
        var subject_name = '{{topic.subject_id.subject_name}}'
        if (subject_name == selected_value){
          $('#select-topic').append("<option class='dropdown-item' value ='{{topic.topic_name}}'>"+'{{topic.topic_name}}'+"</option>");
        }
      {%endfor%}
    {%endfor%}
  }

$('.hard-code').change(function(){
    var grade_value = $('#select-grade').val();
    var subject_value  = $('#select-subject').val();
    var topic_value = $('#select-topic').val();

    if (grade_value && subject_value && topic_value){
        if (grade_value == '1' && subject_value == 'Mathematics' && topic_value == 'Calculus'){
            $('#session-attended').html(12);
            $('#session-attentiveness').html('80%');
            $('#session-Response').html('65%');
        }
        else if (grade_value == '2' && subject_value == 'Mathematics' && topic_value == 'Calculus'){
            $('#session-attended').html(13);
            $('#session-attentiveness').html('90%');
            $('#session-Response').html('79%');

        }
        else if (grade_value == '3' && subject_value == 'Mathematics' && topic_value == 'Calculus'){
            $('#session-attended').html(15);
            $('#session-attentiveness').html('80.5%');
            $('#session-Response').html('71.6%');
        }
        else if (grade_value == '1' && subject_value == 'Physics' && topic_value == 'Quantum physics'){
            $('#session-attended').html(10);
            $('#session-attentiveness').html('97%');
            $('#session-Response').html('62%');
        }
        else if (grade_value == '2' && subject_value == 'Physics' && topic_value == 'Quantum physics'){
            $('#session-attended').html(12);
            $('#session-attentiveness').html('82%');
            $('#session-Response').html('67%');
        }
        else if (grade_value == '3' && subject_value == 'Physics' && topic_value == 'Quantum physics'){
            $('#session-attended').html(11);
            $('#session-attentiveness').html('78%');
            $('#session-Response').html('62%');
        }


    }
    else if (grade_value && subject_value || topic_value){
        if(grade_value == 1 && subject_value == 'Mathematics'){
            $('#session-attended').html(17);
            $('#session-attentiveness').html('75%');
            $('#session-Response').html('62%');
        }
        else if(grade_value == 2 && subject_value == 'Mathematics'){
            $('#session-attended').html(14);
            $('#session-attentiveness').html('71%');
            $('#session-Response').html('64%');
        }
        else if(grade_value == 3 && subject_value == 'Mathematics'){
            $('#session-attended').html(15);
            $('#session-attentiveness').html('74%');
            $('#session-Response').html('58%');
        }
        else if(grade_value == 1 && subject_value == 'Physics'){
            $('#session-attended').html(16);
            $('#session-attentiveness').html('90%');
            $('#session-Response').html('65%');
        }
        else if(grade_value == 2 && subject_value == 'Physics'){
            $('#session-attended').html(13);
            $('#session-attentiveness').html('77%');
            $('#session-Response').html('72%');
        }
        else if(grade_value == 3 && subject_value == 'Physics'){
            $('#session-attended').html(11);
            $('#session-attentiveness').html('88%');
            $('#session-Response').html('63%');
        }

    }
    else if (grade_value || subject_value || topic_value){
        if (grade_value != null){
            if (grade_value == '1'){
                $('#session-attended').html(20);
                $('#session-attentiveness').html('63.4%');
                $('#session-Response').html('65%');
            }
            else if(grade_value == '2'){
                $('#session-attended').html(22);
                $('#session-attentiveness').html('72.9%');
                $('#session-Response').html('72%');
            }
            else{
                $('#session-attended').html(23);
                $('#session-attentiveness').html('90%');
                $('#session-Response').html('67%');
            }
            
        }
        else if(subject_value != null){
           if(subject_value == 'Mathematics'){
                $('#session-attended').html(23);
                $('#session-attentiveness').html('90%');
                $('#session-Response').html('67%');

           }
            if(subject_value == 'Physics'){
                $('#session-attended').html(23);
                $('#session-attentiveness').html('90%');
                $('#session-Response').html('67%');
           }
        }
    }
});
</script>
{%endblock%}