{%extends 'video_chatt_app/base.html'%}
{%block content%}
  <h1 class="mt-4">Teacher Dashboard</h1>
  <div class="row">
    <div class="col">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Grade
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action - 1</a>
            <a class="dropdown-item" href="#">Another Action</a>
            <a class="dropdown-item" href="#">Something else is here</a>
        </div>
        </div>
        <div class="col">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Topic
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action - 1</a>
            <a class="dropdown-item" href="#">Another Action</a>
            <a class="dropdown-item" href="#">Something else is here</a>
          </div>
        </div>

        <div class="col">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Subject
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action - 1</a>
            <a class="dropdown-item" href="#">Another Action</a>
            <a class="dropdown-item" href="#">Something else is here</a>
          </div>
        </div>
        <div class="col">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Student
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action - 1</a>
            <a class="dropdown-item" href="#">Another Action</a>
            <a class="dropdown-item" href="#">Something else is here</a>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" style="margin-top: 2rem;margin-left:1rem;">Generate Report</button>
{%endblock%}