{%extends 'video_chatt_app/base.html'%}
{%block content%}
<div class="row" id ="vedio-chatt-room">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div id="formContent">
        	<div class="fadeIn first">
            	<h1 style="color:#56baed">Join Meeting</h1>
        	</div>
        	<div class="alert alert-danger" role="alert" id = "join-meeting-alert" style="width:80%;margin-left:9%;display:none;">
			</div>
        	<input type="text" id="meeting-name" class="fadeIn first" name="Name" placeholder="Enter Name">
            <input type="text" id="meetingid" class="fadeIn first" name="Meeting ID" placeholder="Enter Meeting ID">
            <input type="submit" class="fadeIn first" value="Join Now" id = "join-meeting-btn">
    	</div>
	</div>
	<div class="col-md-3">
	</div>

</div>


            <div class="container-fluid">
                <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;"></div>
                <div class="toast" id="myToast" data-autohide="false" style="position: absolute; bottom: 1rem; right: 1rem;">
                    <div class="toast-header">
                        <strong class="mr-auto"><i class="fa fa-grav"></i> Question</strong>
                    </div>
                    <div class="toast-body">
                        <div id = "question"></div>
                        <div class="form-check-inline">
                            <label class="form-check-label" id="option1">
                              <input type="radio"  class="form-check-input myanswer" name="optradio" value ="" id="input-option1">
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" id="option2">
                              <input type="radio" class="form-check-input myanswer" name="optradio" value ="" id="input-option2">
                            </label>
                          </div>
                          <div>
                        </div>
                    </div>
                </div>
        </div>




<script>
  var logedin_user = '{{ user.get_username }}'
</script>
{%endblock%}