{%extends 'video_chatt_app/base.html'%}
{%block content%}

<div class="container" id ="vedio-chatt-room">

  <div class="well form-horizontal border shadow p-5 background" id="formContent"
    style="margin-top: 1rem; height:550px">
    <legend>
      <center>
        <div>
          <h1 style="color:#56baed">Join a Meeting</h1>
        </div>
      </center>
    </legend><br>
    <!-- <div>
      <input type="text" class="form-control form-rounded" placeholder="Enter Name">
    </div> -->
    <div class="alert alert-danger" role="alert" id = "join-meeting-alert" style="width:80%;margin-left:9%;display:none;"></div>
    <!-- <div class="well form-horizontal border shadow p-5 background"  style="margin-top: 1rem; height:550px"> -->
      <div>
        <input type="text" id="meeting-name" style="margin-top:7rem" class="form-control form-rounded" placeholder="Enter Name">
    </div>
    <div class="input-group mycustom">
      <input type="text" id="meetingid" class="form-control form-rounded" placeholder="Enter Meeting ID">
      <div class="input-group-prepend">
        <input type="submit" value="Join Meeting" id="join-meeting-btn" class="btn btn-primary btn-sm" id="inputGroupPrepend2" style="border-radius: 1rem;">
      </div>
    </div>
  <!-- </div> -->
  </div>
</div>


            <div class="container-fluid">
                <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;"></div>
                <div class="toast" id="myToast" data-autohide="false" style="position: absolute; bottom: 1rem; right: 1rem;">
                    <div class="toast-header">
                        <strong class="mr-auto"><i class="fa fa-grav"></i> Question</strong>
                    </div>
                    <div class="toast-body">
                        <div id = "question"></div>
                        <div class="form-check-inline">
                            <label class="form-check-label" id="option1">
                              <input type="radio"  class="form-check-input myanswer" name="optradio" value ="" id="input-option1">
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" id="option2">
                              <input type="radio" class="form-check-input myanswer" name="optradio" value ="" id="input-option2">
                            </label>
                          </div>
                          <div>
                        </div>
                    </div>
                </div>
        </div>




<script>
  var logedin_user = '{{ user.get_username }}'
</script>
{%endblock%}