{%extends 'video_chatt_app/base.html'%}
{%block content%}
 <div class="row">
                    <div class="col">
                        <!-- Card -->
                        <div class="booking-card topMargin">

                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top"
                                    src="https://gravatar.com/avatar/fc127565a4bbb52f752d898304f78423?s=400&d=mp&r=x"
                                    alt="Card image cap">
                                    <div></div>
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                        </div>
                        <!-- Card -->
                    </div>
                <div class="col">
                    <h4 class="card-title font-weight-bold"><a>John Doe</a></h4>
                                <!-- Data -->
                                <p class="mb-2"><strong>Roll No:</strong> 016439</p>
                                <p class="mb-2"><strong>Grade:</strong> 1</p>
                                <p class="mb-2"><strong>Overall Attentiveness:</strong> 80%</p>
                                <p class="mb-2"><strong>Accurate Response:</strong> 70%</p>


                </div>
                <div class="col"></div>
            </div>
{%endblock%}
